img {
    margin-top: -80px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.title {
    text-align: center;
    position: relative;
    top: 300px;
}

.subtitle {
    text-align: center;
    position: relative;
    top: 290px;
    font-size: 17px;
}

#time {
    font-style: italic;
}