.front-page, .header {
    vertical-align: middle;
    text-align: center;
}

#time {
    font-style: italic;
}

.center {
    width: 600px;
    padding: 2em;
    margin: 5em auto;
    font-size: 16px;
}

.bullet {
    list-style-type: none;
}

a:visited {
    color:blue;
}
